# Git related files
.git
.gitignore

# Go build artifacts and cache
*.o
*.a
*.so
*.test
*.prof
bin/
pkg/
vendor/ # If you're not using Go modules or explicitly managing vendor
go.mod.sum # Can be ignored if go.mod is included and modules are handled during build

# IDE and editor specific files
.idea/
.vscode/
*.swp
*~
.#*

# Operating system specific files
.DS_Store
Thumbs.db

# Docker specific files
Dockerfile
.dockerignore

# Test files
*_test.go

# Temporary files and logs
tmp/
log/
*.log